html,
body,
main,
aside {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.mapboxgl-canvas {
  outline: none;
}

.mapboxgl-canvas:focus-visible {
  outline: 5px auto focus-ring-color;
  outline: 5px auto -webkit-focus-ring-color;
}

.map-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

@media only screen and (max-width: 768px) {
  .map-container {
    grid-template-columns: 1fr;
  }
}

.map {
  top: 0;
  bottom: 0;
  width: 100%;
  /*border: 1px solid #ccc;*/
  box-sizing: border-box;
}

.map-label {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #16181d;
  font-family: "Atlas Grotesk Web", -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
  color: #fff;
  z-index: 1000;
  width: 180px;
  font-size: 16px;
  padding: 8px 2px;
}

.icon {
  position: relative;
  top: 3px;
  margin-right: 8px;
}

#map .mapboxgl-compare .compare-swiper-vertical {
  background-image: none;
  background: none;
  border: none;
  box-shadow: none;
  top: 0;
  bottom: 0;
  height: auto;
}

.mapboxgl-compare .compare-swiper-vertical:before {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  background-color: #fffdfd;
  bottom: 0;
  left: 27px;
  box-shadow: 0 0 3px rgb(0 0 0 / 32%);
  z-index: -10;
}

.mapboxgl-compare .compare-swiper-vertical:hover:before {
  box-shadow: 0 0 3px rgb(0 0 0 / 64%);
}

.map__controls {
  background-color: #eeeeee;
  color: var(--color-gray-500);
  z-index: 5000;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--font-size-50);
  padding: 4px 8px;
}

.map__label:last-child {
  margin-right: 0;
}

.map__label {
  margin-right: 8px;
  user-select: none;
}

.map__checkbox {
  position: relative;
  top: 1px;
  margin-right: 2px;
}

.hero .mapboxgl-map {
  font-family: var(--font-family);
}

.mapboxgl-ctrl-top-right {
  transform: scale(0.8);
}
