/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

blockquote {
  border-left: 4px solid var(--color-gray-500);
  margin-left: 0;
  padding-left: 1em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Base styles
   ========================================================================== */

:root {
  --color-gray-500: #272431;
  --color-gray-400: #5c5676;
  --color-primary-500: #016a4c;
  --color-primary-400: #01845f;
  --font-size-500: 64px;
  --font-size-400: 48px;
  --font-size-300: 25px;
  --font-size-200: 20px;
  --font-size-100: 18px;
  --font-size-50: 16px;
  --container-width: 1300px;
  --font-family: "Atlas Grotesk Web", -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("../fonts/AtlasGrotesk-Medium-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

body {
  font-size: var(--font-size-100);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-400);
  text-rendering: optimizeLegibility;
}

html.simulate-monochromacy {
  filter: grayscale(1);
}

a {
  color: var(--color-primary-400);
  text-decoration: underline;
  transition: 100ms ease-in-out all;
}

a:hover {
  color: var(--color-primary-500);
}

p {
  margin: 0 0 21px;
}

p:last-child {
  margin-bottom: 0;
}

p.large {
  font-size: var(--font-size-200);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-gray-500);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1120px) {
  p.large {
    font-size: var(--font-size-200);
  }
}

@media only screen and (max-width: 560px) {
  body {
    font-size: var(--font-size-50);
  }
  p.large {
    font-size: var(--font-size-100);
  }
}

/* ==========================================================================
   Font size definitions
   ========================================================================== */

.heading-size--500 {
  font-size: var(--font-size-500);
  margin-bottom: 24px;
}

.heading-size--400 {
  font-size: var(--font-size-400);
  margin-bottom: 24px;
}

.heading-size--300 {
  font-size: var(--font-size-300);
  margin-bottom: 18px;
}

.heading-size--200 {
  font-size: var(--font-size-200);
  margin-bottom: 16px;
}

.heading-size--100 {
  font-size: var(--font-size-100);
  margin-bottom: 16px;
}

@media only screen and (max-width: 560px) {
  .heading-size--500 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .heading-size--400 {
    font-size: var(--font-size-300);
    margin-bottom: 18px;
  }

  .heading-size--300 {
    font-size: var(--font-size-200);
    margin-bottom: 16px;
  }

  .heading-size--200 {
    font-size: var(--font-size-100);
    margin-bottom: 16px;
  }

  .heading-size--100 {
    font-size: var(--font-size-50);
    margin-bottom: 16px;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-primary {
}

.header-primary__container {
  display: flex;
  padding: 30px 15px;
}

.header-primary__logo {
}

.header-primary__nav {
  flex: 1;
  text-align: right;
  position: relative;
  top: 2px;
}

.header-primary__link {
  margin-left: 10px;
  text-decoration: none;
  font-size: var(--font-size-50);
  font-weight: 500;
  background: none;
  color: var(--color-gray-500);
}

.header-primary__button {
  margin-left: 10px;
  color: var(--color-gray-500);
  text-decoration: none;
  font-size: var(--font-size-100);
  font-weight: 500;
  border: 2px solid var(--color-gray-500);
  padding-left: 10px;
  background: #fff;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
}

.simulate-button {
  position: fixed;
  z-index: 200000000;
  bottom: 20px;
  right: 0;
  left: 0;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding: 0 15px;
}

@media only screen and (max-width: 560px) {
  .simulate-button {
    display: none;
  }
}

.header-primary__button:hover {
  background-color: var(--color-primary-400);
  border: 2px solid var(--color-primary-400);
  color: #fff;
}

html.simulate-monochromacy .header-primary__button {
  background-color: var(--color-primary-500);
  border: 2px solid var(--color-primary-500);
  color: #fff;
}

.header-primary__button > svg {
  width: 22px;
  margin-right: 8px;
  margin-top: -6px;
}

.header-primary__link:hover {
  color: var(--color-primary-400);
}

@media only screen and (max-width: 560px) {
  .header-primary__nav {
    display: none;
  }
}

/* ==========================================================================
   footer
   ========================================================================== */

.footer-primary {
  text-align: center;
  color: var(--color-gray-500);
  padding: 40px 0;
  border-top: 1px solid #c8c4d4;
}

.footer__logo {
  position: relative;
}

.footer__brand {
  font-weight: 500;
  font-size: var(--font-size-50);
  align-items: center;
  display: flex;
}

.footer-primary__nav {
  flex: 1;
  text-align: right;
}

.footer-primary__link {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: var(--font-size-50);
  font-weight: 500;
}

.footer-primary__link:hover {
  color: #fff;
}

@media only screen and (max-width: 560px) {
  .footer-primary {
    padding: 20px 0 0;
  }
  .footer-primary__container {
    display: flex;
    padding: 28px 15px 24px;
    flex-direction: column;
  }
  .footer-primary__nav {
    display: flex;
    text-align: left;
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 560px) {
  .footer-primary__link {
    font-size: var(--font-size-50);
  }
}
/* ==========================================================================
   Map
   ========================================================================== */

.map {
  height: 80vh;
  background-color: #fff;
  overflow: hidden;
  margin: 40px 20px 0;
  transition: 0.2s ease-in-out;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 560px) {
  .map {
    display: none;
  }
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
}

.section-hero {
  margin-top: 0;
  padding-top: 40px;
}

.hero__content {
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}

.hero__buttons {
  margin-top: 36px;
  font-size: var(--font-size-200);
}

.hero__button-gettingstarted {
  background-color: var(--color-primary-400);
  border: 2px solid var(--color-primary-400);
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  width: 160px;
  display: inline-block;
  text-align: center;
  line-height: 0;
  padding: 23px 0 23px;
  transition: 100ms ease-in-out all;
}

.hero__button-download {
  background-color: transparent;
  border: 2px solid var(--color-primary-400);
  color: var(--color-primary-400);
  text-decoration: none;
  font-weight: 500;
  width: 160px;
  display: inline-block;
  text-align: center;
  line-height: 0;
  padding: 23px 0 23px;
  transition: 100ms ease-in-out all;
}

.hero__button-gettingstarted:hover,
.hero__button-download:hover {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .section-hero {
    padding: 20px 0 40px;
  }
}

@media only screen and (max-width: 1120px) {
  .hero__buttons {
    font-size: var(--font-size-100);
    margin-top: 32px;
  }

  .hero__button-gettingstarted {
    width: auto;
    padding: 17px 12px 19px;
    margin-right: 6px;
  }
  .hero__button-download {
    width: auto;
    padding: 17px 12px 19px;
  }
}

@media only screen and (max-width: 560px) {
  .hero__content {
    text-align: left;
  }
  .section-hero {
    padding: 0 0 30px;
  }
}

.cta__buttons {
  margin-top: 30px;
}

/* ==========================================================================
   Types
   ========================================================================== */

.types {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 10px 0 0;
}

.section-types {
  padding: 150px 0;
  margin: 0;
  z-index: 2;
  position: relative;
  background-color: #fff;
}

.types__links {
  color: #ccc;
  margin-top: 16px;
  display: none;
}

.types__heading {
  margin: 30px 0 12px !important;
}

.types__text {
  max-width: 680px;
}

.types__item {
  background-color: #fff;
  padding: 20px 0 0;
  flex: 1;
  column-gap: 40px;
  row-gap: 2px;
  grid-template-columns: 1fr;
}

.types__item:first-of-type {
  padding-left: 0;
}

.types__item:last-of-type {
  padding-right: 0;
  border-right: none;
}

.types__image {
  box-shadow: 0 0 1px black;
  content-visibility: auto;
  box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
  .types {
    display: block;
  }
  .types__item {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    border-right-width: 0;
    padding: 15px 0;
  }
  .section-types {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 560px) {
  .section-types {
    padding: 20px 0;
  }
  .types {
    display: block;
  }
  .types__item {
    grid-template-columns: 1fr;
    padding: 30px 0;
  }
}

/* ==========================================================================
   Resources
   ========================================================================== */

.section-accessibility {
  padding: 0 0 80px;
  display: flex;
}

.resources {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.resources__link {
  font-size: var(--font-size-200);
  font-weight: 500;
  color: var(--color-gray-500);
  margin: 8px 0;
  display: inline-block;
}

.accessibility__primary {
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.accessibility__image {
  content-visibility: auto;
  flex-shrink: 0;
  margin-left: 60px;
}

.accessibility__secondary {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid #c9c9c9;
}

@media only screen and (max-width: 1120px) {
  .accessibility__image {
    width: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .accessibility__primary {
    grid-template-columns: 1fr;
  }
  .section-accessibility {
    padding: 0 0 50px;
    display: block;
  }
  .resources {
    grid-template-columns: repeat(2, 1fr);
  }
  .accessibility__image {
    margin: 30px 0 0;
    width: auto;
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .accessibility__secondary {
    grid-template-columns: 1fr;
    padding-top: 30px;
    margin-top: 30px;
  }
  .resources {
    grid-template-columns: 1fr;
  }
  .resources__link {
    font-size: var(--font-size-100);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}
