/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
  color: var(--background-color);
}

a::-moz-selection {
  color: currentColor;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  color: var(--background-color);
}

a::selection {
  color: currentColor;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

blockquote {
  border-left: 1px solid var(--color-gray-500);
  margin-left: 0;
  padding-left: 1em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Base styles
   ========================================================================== */

:root {
  --color-gray-500: #fff;
  --color-gray-400: #fff;
  --color-primary-500: #3940d0;
  --color-primary-400: #4d54d5;

  accent-color: var(--color-primary-400);

  --multiplier: 0.9;

  --font-size-500: clamp(53.33px, 5.39vw, 77.616px);
  --font-size-400: clamp(39.47px, 4.004vw, 57.8378px);
  --font-size-300: clamp(29.21px, 2.926vw, 42.2661px);
  --font-size-200: clamp(21.62px, 2.156vw, 31.1434px);
  --font-size-100: clamp(16px, 1.617vw, 23.3576px);
  --font-size-50: clamp(16px, 1.155vw, 16.684px);

  --background-color-primary: #151515;
  --background-color-secondary: #1f1f1f;
  --font-family: "Atlas Grotesk Web", -apple-system, BlinkMacSystemFont,
    avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
    noto, arial, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("../fonts/AtlasGrotesk-Bold-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Bold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atlas Grotesk Web";
  src: url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

body {
  font-size: var(--font-size-100);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-400);
  background-color: var(--background-color-primary);
}

#body:not(.monochromacy-off) #map {
  filter: grayscale(100%);
}

html.simulate-monochromacy {
  filter: grayscale(1);
}

a {
  color: var(--color-gray-400);
  text-decoration: underline;
  transition: all ease 0.2s;
  text-decoration-thickness: 2px;
}

a:hover {
  color: var(--color-primary-500);
}

p {
  margin: 0 0 21px;
}

p:last-child {
  margin-bottom: 0;
}

p.large {
  font-size: var(--font-size-200);
  margin-bottom: 18px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-gray-500);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

h1 {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1120px) {
  p.large {
    font-size: var(--font-size-200);
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-size: var(--font-size-50);
  }
  p.large {
    font-size: var(--font-size-100);
    margin-bottom: 18px;
  }
}

/* ==========================================================================
   Font size definitions
   ========================================================================== */

.heading-size--500 {
  font-size: var(--font-size-500);
  margin-bottom: 24px;
}

.heading-size--400 {
  font-size: var(--font-size-400);
  margin-bottom: 24px;
}

.heading-size--300 {
  font-size: var(--font-size-300);
  margin-bottom: 18px;
}

.heading-size--200 {
  font-size: var(--font-size-200);
  margin-bottom: 16px;
}

.heading-size--100 {
  font-size: var(--font-size-100);
  margin-bottom: 16px;
}

@media only screen and (max-width: 700px) {
  .heading-size--500 {
    font-size: 36px;
    margin-bottom: 18px;
  }

  .heading-size--400 {
    font-size: var(--font-size-300);
    margin-bottom: 16px;
  }

  .heading-size--300 {
    font-size: var(--font-size-200);
    margin-bottom: 14px;
  }

  .heading-size--200 {
    font-size: var(--font-size-100);
    margin-bottom: 14px;
  }

  .heading-size--100 {
    font-size: var(--font-size-50);
    margin-bottom: 12px;
  }
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-primary {
}

.header-primary__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-primary__logo img {
  width: clamp(170px, 15.7vw, 340px);
}

.header-primary__nav {
  flex: 1;
  text-align: right;
  position: relative;
  top: 2px;
}

.header-primary__link {
  text-decoration: none;
  font-size: var(--font-size-50);
  font-weight: 500;
  background: none;
  color: var(--color-gray-500);
}

.header-primary__link:not(:first-child) {
  margin-left: 10px;
}

.header-primary__button {
  margin-left: 10px;
  color: var(--color-gray-500);
  text-decoration: none;
  font-size: var(--font-size-100);
  font-weight: 500;
  border: 3px solid var(--color-gray-500);
  padding-left: 10px;
  background: #fff;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
}

@media only screen and (max-width: 700px) {
  .simulate-button {
    display: none;
  }
}

.header-primary__button:hover {
  background-color: var(--color-primary-400);
  border: 3px solid var(--color-primary-400);
  color: #fff;
}

html.simulate-monochromacy .header-primary__button {
  background-color: var(--color-primary-500);
  border: 2px solid var(--color-primary-500);
  color: #fff;
}

.header-primary__button > svg {
  width: 22px;
  margin-right: 8px;
  margin-top: -6px;
}

.header-primary__link:hover {
  color: var(--color-primary-400);
}

@media only screen and (max-width: 700px) {
  .header-primary__nav {
    display: none;
  }
}

/* ==========================================================================
   footer
   ========================================================================== */

.footer-primary {
  color: var(--color-gray-500);
  padding: 0;
  background-color: var(--background-color-secondary);
  padding: 40px 0;
}

.footer-links {
  text-align: right;
  flex: 1;
}

.footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links li:not(:first-child) {
  margin-left: 1em;
}

.footer-primary .container {
  display: flex;
  gap: 4vw;
}

.footer__logo {
  position: relative;
  margin: 0 0 60px;
}

.footer__brand {
  font-weight: 500;
  font-size: var(--font-size-50);
  display: flex;
}

.footer-primary__nav {
  flex: 1;
  text-align: right;
}

.footer-primary__link {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: var(--font-size-50);
  font-weight: 500;
}

.footer-primary__link:hover {
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .footer-primary__container {
    display: flex;
    padding: 28px 15px 24px;
    flex-direction: column;
  }
  .footer-primary__nav {
    display: flex;
    text-align: left;
    margin-left: -10px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .header-primary__container {
    text-align: left;
  }
  .footer-primary__link {
    font-size: var(--font-size-50);
  }
}
/* ==========================================================================
   Map
   ========================================================================== */

.map {
  height: 400px;
  min-height: 100%;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  margin-right: -35px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  border-top: #2e2e2e solid 3vw;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 700px) {
  .map {
    display: none;
  }
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  display: flex;
  gap: 4vw;
}

.section-hero {
  margin-top: 0;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
}

.hero__content {
  flex-basis: 50%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.hero__map {
  flex-basis: 50%;
  position: relative;
}

.hero__buttons {
  margin-top: 34px;
  font-size: var(--font-size-100);
}

.hero__button-gettingstarted {
  border-radius: 5px;
  background-color: var(--color-primary-400);
  border: 1px solid var(--color-primary-400);
  color: var(--color-gray-400);
  text-decoration: none;
  font-weight: 400;
  margin-right: 10px;
  width: 8em;
  display: inline-block;
  text-align: center;
  line-height: 0;
  padding: 1.2em 0;
  transition: background-color border ease 0.2s;
}

.hero__button-download {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-gray-400);
  color: var(--color-gray-400);
  text-decoration: none;
  font-weight: 400;
  width: 8em;
  display: inline-block;
  text-align: center;
  line-height: 0;
  padding: 1.2em 0;
  transition: background-color border ease 0.2s;
}

.hero__button-gettingstarted:hover,
.hero__button-download:hover {
  background-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  color: var(--color-gray-400);
}

@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .section-hero {
    padding: 20px 0 0;
  }
}

@media only screen and (max-width: 1120px) {
  .hero__buttons {
    font-size: var(--font-size-100);
    margin-top: 18px;
  }

  .hero__button-gettingstarted {
    width: auto;
    padding: 21px;
    margin-right: 6px;
  }
  .hero__button-download {
    width: auto;
    padding: 21px;
  }
}

@media only screen and (max-width: 700px) {
  .hero__content {
    text-align: left;
    flex-basis: 100%;
    padding-bottom: 00px;
  }
  .hero__map {
    display: none;
  }
  .section-hero {
    padding: 10px 0 50px;
  }
  .hero__button-gettingstarted {
    width: auto;
    padding: 20px 17px;
    margin-right: 6px;
  }
  .hero__button-download {
    width: auto;
    padding: 20px 17px;
  }
}

.cta__buttons {
  margin-top: 30px;
}

/* ==========================================================================
   Types
   ========================================================================== */

.types {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 40px 0 0;
}

.section-types {
  padding: 80px 0;
  margin: 0;
  z-index: 2;
  position: relative;
  background-color: var(--background-color-secondary);
  margin-top: -5px;
}

.types__heading {
  margin: 20px 0 0 !important;
}

.types__text {
  max-width: 50%;
  padding-right: 2vw;
}

.types__item {
  background-color: transparent;
  padding: 20px 0 0;
  text-align: center;
}

.types__item:first-of-type {
  padding-left: 0;
}

.types__item:last-of-type {
  padding-right: 0;
  border-right: none;
}

.types__image {
  content-visibility: auto;
  box-sizing: content-box;
  border-radius: 0;
  width: 100%;
  display: block;
}
.types__left p {
  font-size: var(--font-size-100);
}

@media only screen and (max-width: 768px) {
  .types {
    display: block;
  }
  .types__item {
    display: grid;
    border-right-width: 0;
    padding: 15px 0;
  }
  .types__right {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-types {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 700px) {
  .section-types {
    padding: 40px 0;
  }
  .types {
    display: block;
  }
  .types__item {
    grid-template-columns: 1fr;
    padding: 15px 0;
  }
  .types__item:last-child {
    padding-bottom: 0;
  }
}

/* ==========================================================================
   Resources
   ========================================================================== */

.section-accessibility {
  padding: 80px 0;
  background-color: var(--background-color-primary);
}

.container-accessibility {
  display: flex;
}

.resources {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.resources__link {
  font-size: var(--font-size-200);
  font-weight: 500;
  color: var(--color-gray-500);
  margin: 8px 0;
  display: inline-block;
}

.accessibility__primary {
  margin: 0;
  padding: 0;
  display: grid;
  column-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

.accessibility__image {
  content-visibility: auto;
  flex-shrink: 0;
  margin-left: 60px;
}

.accessibility__secondary {
  padding-top: 60px;
  margin-top: 60px;
  border-top: 1px solid #c9c9c9;
}

@media only screen and (max-width: 1120px) {
  .types__text {
    max-width: 80%;
  }
  .accessibility__image {
    width: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .types__text {
    max-width: 100%;
  }
  .accessibility__primary {
    grid-template-columns: 1fr;
  }
  .section-accessibility {
    padding: 40px 0;
    display: block;
  }
  .resources {
    grid-template-columns: repeat(2, 1fr);
  }
  .accessibility__image {
    margin: 30px 0 0;
    width: auto;
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .footer-primary .container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }

  .footer-links {
    text-align: left;
  }

  .container {
    padding: 0 15px;
  }

  .header-primary__container {
    padding: 30px 15px;
  }

  .accessibility__secondary {
    grid-template-columns: 1fr;
    padding-top: 30px;
    margin-top: 30px;
  }
  .resources {
    grid-template-columns: 1fr;
  }
  .resources__link {
    font-size: var(--font-size-100);
  }
}

.toggle {
  position: absolute;
  right: -25px;
  bottom: 14px;
  background-color: var(--background-color-secondary);
  font-size: var(--font-size-50);
  z-index: 2;
}

.toggle label {
  cursor: pointer;
  padding: 6px 10px;
  user-select: none;
  display: inline-block;
}

.toggle input {
  transform: scale(1.25);
  margin-right: 6px;
}

@media only screen and (min-width: 1799px) {
  .hero__map {
    position: relative;
  }
  .toggle {
    right: -25px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}
